*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
}

.toolbar {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.canvas-controls, .drawing-controls, .shape-controls, .annotation-controls, .line-manipulation, .curve-controls, #SnappingControls {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    display: inline-block;
    min-width: 120px;
}

input[type="color"], input[type="range"], input[type="number"], select {
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #007B9A;
}

#drawingCanvas {
    border: 1px solid #ddd;
    background-color: #fff;
}
/* General Tab Style */
.tab {
    overflow: hidden;
    background-color: #2c3e50; /* Dark blue background for the tab buttons */
}

/* Tab Buttons */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 16px;
    color: #ecf0f1; /* Light text color for contrast */
    border-right: 1px solid #34495e; /* Subtle border between buttons */
}

/* Hover effect for buttons */
.tab button:hover {
    background-color: #34495e; /* Slightly darker blue on hover */
    color: #fff; /* Brighter text on hover for emphasis */
}

/* Active Tab Button Style */
.tab button.active {
    background-color: #2980b9; /* A distinct color for the active tab */
    color: #fff;
}

/* Tab Content Style */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #34495e; /* Border color to match tab button hover */
    border-top: none;
    background-color: #ecf0f1; /* Light background for content */
    color: #2c3e50; /* Dark text for readability */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Soft shadow for depth */
    transition: box-shadow 0.3s; /* Smooth transition for shadow */
}

/* Enhance the shadow on hover for content */
.tabcontent:hover {
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.2);
}
